spring:
  application:
    name: backend
  datasource:
    url: "jdbc:${DATABASE_URL:postgresql://localhost:5433/cp_bowl}"
    username: "${DATABASE_USER:bowl_user}"
    password: "${DATABASE_PASS:bowl_pass}"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  web:
    resources:
      static-locations:
        - "file:frontend/dist/frontend/browser/"
        - "classpath:/static/"
        - "classpath:/public/"